<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiliSendCommAntifraud.HasActionBar"
        tools:targetApi="33">
        <service
            android:name=".CommentMonitoringService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".PendingCheckCommentsActivity"
            android:exported="false"
            android:label="待检查评论列表" />

        <service
            android:name=".WaitService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".HistoryCommentActivity"
            android:exported="true"
            android:label="历史评论记录"
            android:theme="@style/Theme.BiliSendCommAntifraud.HasActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="发送评论自动检测，解放双手&amp;你的评论记录器" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <activity
            android:name=".ByXposedLaunchedActivity"
            android:exported="true"
            android:theme="@style/dialog_activity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WebViewLoginActivity"
            android:exported="false"
            android:label="网页浏览器"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MartialLawCommentAreaListActivity"
            android:exported="true"
            android:label="@string/martial_law_comment_area_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BiliSendCommAntifraud">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>